<p id="notice"><%= notice %></p>

<p>
  <strong>Itemid:</strong>
  <%= @auction.item_id %>
</p>

<p>
  <strong>Duedate:</strong>
  <%= @auction.duedate %>
</p>

<p>
  <strong>Price:</strong>
  <%= @auction.price %>
</p>

<p>
  <strong>State:</strong>
  <%= @auction.state %>
</p>

<%= link_to 'Edit', edit_auction_path(@auction) %> |
<%= link_to 'Back', auctions_path %>
